.card {
  padding: 40px;
  border-radius: 16px;
  font-size: 14px;
  background-color: var(--bg-alt);

  p {
    margin: 0;
    opacity: 0.75;
    position: relative;
  }

  header {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--border-color);
  }

  li > *:not(:first-child) {
    opacity: 0.75;
  }
}
